RewriteEngine on

RewriteCond %{REQUEST_URI} ^.*/index\.php
RewriteRule ^(.*)index\.php$ /$1 [R,QSA]

RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)/$ /$1 [R,QSA,L]

RewriteCond %{REQUEST_URI} ^/(\w+)/(.+)$
RewriteRule ^ /?ctrl=%1&act=%2 [QSA,L]

RewriteCond %{REQUEST_URI} ^/(\w+)$
RewriteRule ^ /?ctrl=home&act=%1 [QSA,L]

RedirectMatch 400 ^/config
RedirectMatch 400 ^/models
RedirectMatch 400 ^/controllers
